<settings>
<!--
settings.xml for use with MathWorks-standard Maven repostories: http://inside.mathworks.com/wiki/Maven_Repositories_at_MathWorks 
-->
<mirrors>
<!--
for all repositories other than MathWorks, redirect requests to the MathWorks proxy 
-->
<mirror>
<id>mw-maven-readonly</id>
<mirrorOf>*,!mw_central</mirrorOf>
<url>
http://mw-maven-repository-readonly/nexus/content/groups/cached
</url>
</mirror>
</mirrors>
<profiles>
<profile>
<id>mathworks_repos</id>
<activation>
<activeByDefault>true</activeByDefault>
</activation>
<repositories>
<repository>
<id>mw_central</id>
<url>
http://mw-maven-repository-readonly/nexus/content/groups/cached/
</url>
<releases>
<enabled>true</enabled>
</releases>
<snapshots>
<enabled>true</enabled>
</snapshots>
</repository>
</repositories>
<pluginRepositories>
<pluginRepository>
<id>mw_central</id>
<url>
http://mw-maven-repository-readonly/nexus/content/groups/cached
</url>
<releases>
<enabled>true</enabled>
</releases>
<snapshots>
<enabled>true</enabled>
</snapshots>
</pluginRepository>
</pluginRepositories>
</profile>
</profiles>
</settings>
